<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/views/style.css" />
    <title>Game started</title>
  </head>
  <body>
    <h1>Snoozers losers, this game has already started, sorry! ⏱</h1>
    <button class="btn btn-primary" onclick="goHome()">Go back</button>
  </body>
  <script>
    function goHome() {
      window.location.replace("/");
    }
  </script>
</html>
